<form method="POST" action="/">
  Name:<textarea name="name"></textarea>
  <br>
  Breed:<textarea name="breed"></textarea>
  <br>
  Age:<textarea name="age"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
